.taskTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 2px solid #adadad;
  padding: 15px;
  text-align: left;
  /* width: 33%; */
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.deleteBtn:hover {
  background-color: #d32f2f;
}

.editBtn {
  background-color: #ffae00;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.editBtn:hover {
  background-color: #b9b300;
}

.completeBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.completeBtn:hover {
  background-color: #45a049;
}

.notCompletedBtn {
  background-color: #b4b4b4;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.notCompletedBtn:hover {
  background-color: #7a7a7a;
}

.completed {
  background-color: #98ff9c;
}

.notCompleted {
  background-color: #ffd885;
}

.modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 48px;
  text-align: center;
  background-color: white;
  filter: none;
  box-shadow: 1px 1px 200px 20px;
}

.editBtns {
  background-color: #b4b4b4;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 15px;
}

.editBtns:hover {
  background-color: #7a7a7a;
}


.editIcon,
.deleteIcon,
.completeIcon,
.uncompleteIcon {
  width: 25px;
}

/* .todoActions {
  display: flex;
  width: calc(100% - 2.6px);
  padding: 15px 0;
  justify-content: space-around;
  height: 56px;
} */

@media screen and (max-width: 605px) {
  .editIcon,
  .deleteIcon,
  .completeIcon,
  .uncompleteIcon {
    width: 15px;
  }

  .editBtn,
  .deleteBtn,
  .uncompleteBtn,
  .completeBtn {
    height: 32px;
  }
}
